<!DOCTYPE html>
<html>
    <head>
        <title>{% block title required %}{% endblock %}</title>
        <meta charset="utf-8">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block contents %}
        {% endblock %}
    </body>
</html>
